.pestañas {
   border-collapse: separate;
   border-spacing: 0;
   background-color: white;
   font-size: 0.9em;
   &__contenido {
      background-color: #EBEBE1;
   }
   &__titulo {
      display: flex;
      align-items: center;
      background-color: #EBEBE1;
      &__imagen {
         width: 25px;
         height: 25px;
      }
      &__descripcion {
         margin: 0em;
         padding: 0.5em;
         font-weight: bold;
      }
   }
   &__combo {
      border: black solid 1px;
      border-top: 0;
      background-color: white;
   }
   &__caja {
      position: relative;
      margin: 0.2em;
      padding: 0;
      overflow: auto;
      display: none;
      height: 58em!important;
      &:first-child {
         background-color: #EBEBE1;
         border: gray solid 1px;
      }
      &:last-child {
         background-color: white;
      }
      &__tabla {
         height: 89%;
         overflow-y: scroll;
         &--area {
            border-collapse: collapse;
            border: black solid 1px;
         }
      }
      &--titulos {
         border: black solid 1px;
         text-align: left;
         padding-right: 2.5em;
      }
      &--datos {
         border: black solid 1px;
      }
      &--filtros{
         width: 99.5%;
         margin-left: 0.2em;
         margin-bottom: 0.5em;
         position:absolute; 
         bottom:0; 
         z-index:999999; 
         background: white;
      }
      &--botones{
         margin-bottom: 0.5em;
         position:absolute; 
         bottom:0; 
         z-index:999999;
      }
   }
   &--titulo {
      border: black solid 1px;
      border-radius: 0.5em 0.5em 0 0;
      background-color: transparent;
      padding: 0.3em;
      text-align: center;
      cursor: pointer;
      font-weight: 600;
      width: 15em;
   }
   &--inicio {
      width: 0em;
   }
   &--espacio {
      width: 1em;
      border: 0;
      border-left: none;
      border-right: none;
      border-bottom: black solid 1px;
      background-color: #EBEBE1;
      &:first-child {
         border-left: black solid 1px;
      }
      &:last-child {
         border-right: black solid 1px;
      }
   }
   &--final {
      width: 57em;
      border-bottom: black solid 1px;
      background-color: #EBEBE1;
   }
}

.menuPrincipal > li {
   float:left;
}
.mnuPpal a {
   background-color:#000;
   color:#fff;
   text-decoration:none;
   padding:10px 12px;
   display:block;
   width: 7.5em;
   text-align: center;
   &:hover {
      background-color:#818181;
   }
}
.mnuPpal ul {
   display:none;
   position:absolute;
   min-width:140px;
}
.menuPrincipal li:hover > ul {
   display:block;
}

.mnuPpal__Items {
   position:relative;
   & a {
      background-color:#f9f9f9;
      color: black;
      text-align: left;
      width: auto;
      &:hover {
         background-color: #ddd;
      }
   }
}
.mnuPpal__Items ul {
   right:-140px;
   top:0px;
}
.fondo {
   padding: 10% 0;
}
.fondo__imagen {
   height: 100%;
   width: 100%;
}
.fondo__informacion {
   position: absolute;
   color: #489221;
   font-family: 'Times New Roman', Times, serif;
   font-size: 2.9vw;
   left: 2vw;
   top: 36vw;
}
.fondo__titulo{
   padding: 0;
   margin: 0;
}
.piepagina {
   font-weight: bold;
   font-size: 1.5vw;
   text-align: center;
}