* {box-sizing: border-box}
body, html {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   font-family: Arial;   
   background-color: #EBEBE1;
   padding-left: 0.2em;
   overflow-y: hidden;
}
input[type=submit] {
   width: 7em;  height: 1.7em;
}
ul {
   padding-left: 0;
   list-style:none;
}
